/* ::-moz-selection { color: gold;  background: red; } */
/* ::selection      { color: gold;  background: red; } */

.highlight {
  background-color: yellow;
}
.highlight:hover {
  border: 1px solid #ccc;
  margin: -1px;
}

.border{
  border: 1px solid #ccc;
  margin: -1px;
}

#svg-screen{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}

.circle{
  top: -10px;
  left: -5px;
  position:absolute;
  white-space:nowrap;
  width:10px;
  height:10px;
  background-color:blue;
  border-radius: 50%;
  transition:0.2s;
}
.circle:hover, .circle-hover {
  box-shadow: rgba(113,135,164,.65098) 1px 1px 1px 1px;
  transition:0.2s;
  transform: scale(2);
}

.arrow{
  fill:none;
  stroke:red;
  visibility:visible;
  stroke-width:1px;
  pointer-events:stroke;
}

.arrow-hover{
  stroke-width:3px;
}

.label, #ruler{
  position:absolute;
  font-family : inherit;
  font-size   : 100%;
  text-align: center;
}

.label{
  border:1px solid red;
  border-radius:3px;
}

.label-hover{
  border:3px solid red;
  border-radius:3px;
}

