.htmlanno-highlight {
  background-color: yellow;
}

.htmlanno-highlight:hover, .htmlanno-border{
  box-shadow: 0 0 0 1px #ccc inset;
}

.htmlanno-highlight-selected{
  background-color: yellow;
  border: 2px dotted black;
  margin: -2px;
}

.htmlanno-highlight-selected:hover{
  border: 2px dotted black;
  margin: -2px;
}

#htmlanno-svg-screen{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}

.htmlanno-highlightlabel{
  position:absolute;
}
.htmlanno-highlightlabel-li{
  position:absolute;
  border:0px solid red;
  border-radius:3px;
  box-shadow: rgba(113,135,164,0.5) 2px 2px 2px 2px;
  background-color: white;
  margin: 0;
  padding: 0;
}

.htmlanno-highlightlabel-item{
  padding: 2px;
  margin: 0;
  list-style: none;
  border: 1px solid #f88;
}

.htmlanno-circle{
  position:absolute;
  white-space:nowrap;
  width:10px;
  height:10px;
  background-color:blue;
  border-radius: 50%;
  transition:0.2s;
}

.htmlanno-circle-marker{
  position:absolute;
  margin:0px;
  padding:0px;
  white-space:nowrap;
  width:0px;
  height:0px;
  /* display:none; */
}

.htmlanno-circle:hover, .htmlanno-circle-hover {
  box-shadow: rgba(113,135,164,.6) 1px 1px 1px 1px;
  transition:0.2s;
  transform: scale(2);
}

.htmlanno-arrow{
  fill:none;
  stroke:red;
  visibility:visible;
  stroke-width:2px;
  pointer-events:stroke;
}

.htmlanno-arrow-outline{
  fill:none;
  stroke:black;
  visibility:visible;
  stroke-width:5px;
  stroke-dasharray: 3;
  pointer-events:stroke;
}

.htmlanno-arrow-hover{
  stroke-width:3px;
  transition:0.2s;
}

#htmlanno-arrow-head{
  fill:red;
}

.htmlanno-label, #htmlanno-ruler{
  position:absolute;
  font-family : inherit;
  font-size   : 100%;
  text-align: center;
}

.htmlanno-label{
  width:100%;
  transition:0.1s;
  border:1px solid red;
  border-radius:3px;
}

.htmlanno-label-hover{
  transition:0.1s;
  border:3px solid red;
  border-radius:3px;
}

.htmlanno-label-selected{
  transition:0.1s;
  border:3px dotted black;
  border-radius:3px;
}

