.htmlanno-highlight {
  background-color: yellow;
}

.htmlanno-highlight:hover, .htmlanno-border{
  box-shadow: 0 0 0 1px #ccc inset;
}

.htmlanno-highlight-selected{
  background-color: yellow;
  border: 2px dotted black;
  margin: -2px;
}

.htmlanno-highlight-selected:hover{
  border: 2px dotted black;
  margin: -2px;
}

#htmlanno-svg-screen{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}

.htmlanno-highlightlabel{
  position:absolute;
}
.htmlanno-highlightlabel-li{
  position:absolute;
  border:0px solid red;
  border-radius:3px;
  box-shadow: rgba(113,135,164,0.5) 2px 2px 2px 2px;
  background-color: white;
  margin: 0;
  padding: 0;
}

.htmlanno-highlightlabel-item{
  padding: 2px;
  margin: 0;
  list-style: none;
  border: 1px solid #f88;
}

.htmlanno-circle{
  position:absolute;
  white-space:nowrap;
  width:10px;
  height:10px;
  background-color:blue;
  border-radius: 50%;
  transition:0.2s;
}

.htmlanno-circle-marker{
  position:absolute;
  margin:0px;
  padding:0px;
  white-space:nowrap;
  width:0px;
  height:0px;
  /* display:none; */
}

.htmlanno-circle:hover, .htmlanno-circle-hover {
  box-shadow: rgba(113,135,164,.6) 1px 1px 1px 1px;
  transition:0.2s;
  transform: scale(2);
}

.htmlanno-arrow{
  fill:none;
  stroke:red;
  visibility:visible;
  stroke-width:2px;
  pointer-events:stroke;
}

.htmlanno-arrow-outline{
  fill:none;
  stroke:black;
  visibility:visible;
  stroke-width:5px;
  stroke-dasharray: 3;
  pointer-events:stroke;
}

.htmlanno-arrow-hover{
  stroke-width:3px;
  transition:0.2s;
}

#htmlanno-arrow-head{
  fill:red;
}

.htmlanno-label, #htmlanno-ruler{
  position:absolute;
  font-family : inherit;
  font-size   : 100%;
  text-align: center;
}

.htmlanno-label{
  width:100%;
  transition:0.1s;
  border:1px solid red;
  border-radius:3px;
}

.htmlanno-label-hover{
  transition:0.1s;
  border:3px solid red;
  border-radius:3px;
}

.htmlanno-label-selected{
  transition:0.1s;
  border:3px dotted black;
  border-radius:3px;
}

#operation {
  margin-top: 1em;
}

#operation button {
  margin-left: 0.5em;
  padding: 5px;
}

#viewerWrapper {
  position: relative;
  overflow-y: scroll;
  min-height: 300px;
  margin: 5px 0;
}

#viewer {
  width: 100%;
}

/* Anno-ui */
/**
 * Label list.
 */
.label-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.label-list li {
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid #eee;
}
.label-list li:last-child {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 0 solid rgba(0,0,0,0);
}
.label-list__btn {
    width: 40px;
    height: 40px;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: all 1.5 ease-in-out;
    border-radius: 3px;
    background-color: white;
    margin-right: 20px;
    flex: 0 0 30px;
}
.label-list__btn:hover,
.label-list__text:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
}
.label-list__text {
    flex-grow: 1;
    cursor: pointer;
    padding: 2px;
    font-size: 20px;
}
.label-list__input {
    flex-grow: 1;
    padding: 2px 5px;
}

#adjust_css li, #adjust_css_reset {
  margin-top: 5px;
}

/* Override bootstrap. */
#viewer {
  background-color: white;
}

#viewer h1, #viewer h2, #viewer h3, #viewer h4, #viewer h5, #viewer h6 {
  font-weight: bolder;
  padding-top: 1em;
  color: black;
}

#viewer h1 {
  font-size: 250%;
}

#viewer h2 {
  font-size: 200%;
}

#viewer h3 {
  font-size: 150%;
}

#viewer h4 {
  font-size: 70%;
}

#viewer h5 {
  font-size: 50%;
}

#viewer h6 {
  font-size: 20%;
}

#viewer ul, #viewer ol {
  padding-left: 40px;
  margin-top: 16px;
  margin-bottom: 16px;
}

#viewer ul li {
  list-style-type: disc;
}

#viewer li ul li {
  list-style-type: circle; 
}

#viewer li li ul li {
  list-style-type: square; 
}

#viewer ol li {
  list-style-type: decimal;
}

#viewer dl dt, #viewer dl dd {
  font-weight: normal;
}

#viewer dl dd {
  margin-left: 40px;
}

#viewer .row {
  margin-right: 0px;
  margin-left: 0px;
}
