/*  Stylesheet for NLM/NCBI  Journal Publishing 3.0 Preview HTML
    January 2009

    ~~~~~~~~~~~~~~
    National Center for Biotechnology Information (NCBI)
    National Library of Medicine (NLM)
    ~~~~~~~~~~~~~~
    
This work is in the public domain and may be reproduced, published or 
otherwise used without the permission of the National Library of Medicine (NLM).

We request only that the NLM is cited as the source of the work.

Although all reasonable efforts have been taken to ensure the accuracy and 
reliability of the software and data, the NLM and the U.S. Government  do 
not and cannot warrant the performance or results that may be obtained  by
using this software or data. The NLM and the U.S. Government disclaim all 
warranties, express or implied, including warranties of performance, 
merchantability or fitness for any particular purpose.

*/


/* --------------- Page setup ------------------------ */

/* page and text defaults */

#viewer {
     background-color: #f8f8f8 }


#viewer div > *:first-child { margin-top:0em }

#viewer div { margin-top: 0.5em }

#viewer div.front, div.footer { }

#viewer .back, .body { font-family: serif }

#viewer div.metadata { font-family: sans-serif }
#viewer div.centered { text-align: center }

#viewer div.table { display: table }
#viewer div.metadata.table { width: 100% }
#viewer div.row { display: table-row }
#viewer div.cell { display: table-cell; padding-left: 0.25em; padding-right: 0.25em }

#viewer div.metadata div.cell {
    vertical-align: top }

#viewer div.two-column div.cell {
    width: 50% }

#viewer div.one-column div.cell.spanning { width: 100% }

#viewer div.metadata-group { margin-top: 0.5em;
  font-size: 75% }

#viewer div.metadata-group > p, div.metadata-group > div { margin-top: 0.5em }

#viewer div.metadata-area * { margin: 0em }

#viewer div.metadata-chunk { margin-left: 1em }

#viewer div.branding { text-align: center }

#viewer div.document-title-notes {
   text-align: center;
   width: 60%;
   margin-left: auto;
   margin-right: auto
   }

#viewer div.footnote { font-size: 90% }

/* rules */
#viewer hr.part-rule {
    border: thin solid black;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    }

#viewer hr.section-rule {
    border: thin dotted black;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    }

/* superior numbers that are cross-references */
#viewer .xref {
    color: red;
    }
    
/* generated text */     
#viewer .generated { color: gray; }

#viewer .warning, tex-math {
    font-size:80%; font-family: sans-serif }

#viewer .warning {
    color: red }

#viewer .tex-math { color: green }

#viewer .data {
    color: black;
    }

#viewer .formula {
    font-family: sans-serif;
    font-size: 90% }
    
/* --------------- Titling levels -------------------- */


#viewer h1, h2, h3, h4, h5, h6 {
   display: block;
   margin-top: 0em;
   margin-bottom: 0.5em;
   font-family: helvetica, sans-serif;
   font-weight: bold;
   color: midnightblue;
  }
/* titling level 1: document title */
#viewer .document-title {
   text-align: center;
   }

/* callout titles appear in a left column (table cell)
   opposite what they head */
#viewer .callout-title { text-align: right;
  margin-top: 0.5em;
  margin-right: 1em;
  font-size: 140% }
  


#viewer div.section, div.back-section {
  margin-top: 1em; margin-bottom: 0.5em }

#viewer div.panel { background-color: white;
  font-size: 90%;
  border: thin solid black;
  padding-left: 0.5em; padding-right: 0.5em;
  padding-top: 0.5em; padding-bottom: 0.5em;
  margin-top: 0.5em; margin-bottom: 0.5em }

#viewer div.blockquote { font-size: 90%;
  margin-left: 1em; margin-right: 1em;
  margin-top: 0.5em; margin-bottom: 0.5em }

#viewer div.caption {
  margin-top: 0.5em; margin-bottom: 0.5em }

#viewer div.speech {
  margin-left: 1em; margin-right: 1em;
  margin-top: 0.5em; margin-bottom: 0.5em }

#viewer div.verse-group {
  margin-left: 1em;
  margin-top: 0.5em; margin-bottom: 0.5em }

#viewer div.verse-group div.verse-group {
  margin-left: 1em;
  margin-top: 0em; margin-bottom: 0em }

#viewer div.note { margin-top: 0em; margin-left: 1em;
  font-size: 85% }

#viewer .ref-label { margin-top: 0em; vertical-align: top }

#viewer .ref-content { margin-top: 0em; padding-left: 0.25em }

#viewer h5.label { margin-top: 0em; margin-bottom: 0em }

#viewer p { margin-top: 0.5em; margin-bottom: 0em }

#viewer p.first { margin-top: 0em }

#viewer p.verse-line, p.citation { margin-top: 0em; margin-bottom: 0em; margin-left: 2em; text-indent: -2em }

#viewer p.address-line { margin-top: 0em; margin-bottom: 0em; margin-left: 2em }

#viewer ul, ol { margin-top: 0.5em }

#viewer li { margin-top: 0.5em; margin-bottom: 0em }
#viewer li > p { margin-top: 0.2em; margin-bottom: 0em  }

#viewer div.def-list { border-spacing: 0.25em }

#viewer div.def-list div.cell { vertical-align: top;
  border-bottom: thin solid black;
  padding-bottom: 0.5em }

#viewer div.def-list div.def-list-head {
  text-align: left }

/* text decoration */
#viewer .label { font-weight: bold; font-family: sans-serif; font-size: 80% }

#viewer .monospace {
	font-family: monospace;
	}

#viewer .overline{
	text-decoration: overline;
	}
 
#viewer a       { text-decoration: none }
#viewer a:hover { text-decoration: underline }

/* ---------------- End ------------------------------ */

